<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Meus Jogos</title>
  </head>
  <body>
      <!-- Filtro -->
        <form method="POST" action="/">
          <!-- Ler o numero de jogadores -->
          <label for="jogadores">Numero de Jogadores</label>
          <input type="text" id="jogadores" name="jogadores"/>

          <!-- For para ler os donos dos jogos -->
          <label for="dono">Dono</label>
          <select name = "dono">
            <option value='null'>All</option>
            {% for categ in donoList %}
            <option value={{categ}}>{{categ.replace('_', ' ')}}</option>
            {% endfor %}
          </select>

          <!-- For para ler as categorias disponiveis -->
          <label for="categoria">Categoria</label>
          <select name = "categoria">
            <option value='null'>All</option>
            {% for categ in categList %}
            <option value={{categ}}>{{categ}}</option>
            {% endfor %}
          </select>
          <button type="submit">Enviar</button>
        </form>

        <!-- Tabela -->
        <div class="container mt-5">
          <h1 class="mb-4">Tabela de Jogos</h1>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Rank</th>
                <th>Rank In House</th>
                <th>Nome</th>
                <th>Numero de Jogadores</th>
                <th>Categoria</th>
                <th>Dificuldade</th>
                <th>Tempo de Jogo (min)</th>
                <th>Dono</th>
              </tr>
            </thead>
            <!-- for para olhar os jogos -->
            <tbody>
              {% for jogo in jogos %}
              <tr>
                <td>{{ jogo.rank }}</td>
                <td>{{jogo.rankInHouse}}</td>
                <td>{{ jogo.nome }}</td>
                <td>{{ jogo.nmJogadorMin }} e {{ jogo.nmJogadorMax }}</td>
                <td>{{ jogo.categoria }}</td>
                <td>{{ jogo.dificuldade }}</td>
                <td>{{ jogo.tempoDeJogo }}</td>
                <td>{{ jogo.dono }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
  </body>
</html>
